body {
    margin: 0;
    padding: 0;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
.scoreBar {
    background: #5b0b22;
    box-shadow: 0 5px 15px #000;
    width: 100%;
    position: fixed;
    top: 0;
    height: 70px;
}
.scoreText {
    color: white;
    font-size: 1.5rem;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style: none;
};
.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.jumbotron-fluid {
    margin-top: 70px;
    background-image: url(../images/butterfly.jpg) no-repeat center center fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.display-4 {
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 8px #000;
}
.lead {
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 8px #000;
}
.container {
    padding: 30px 100px;
}
.click-item {
    width: 160px;
    height: 160px;
    border: 5px solid #fff;
    box-shadow: 2px 2px 4px #ccc;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}