body {
    margin: 0;
    padding: 0;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
.scoreBar {
    background-color: #5b0b22 !important;
    box-shadow: 0 5px 15px #000;
    width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
}
.navbar .navbar-expand-lg .navbar-nav .nav-link .navbar-dark .navbar-nav {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #5b0b22 !important;
    background: #5b0b22 !important;
    color: rgba(255,255,255,1) !important;
    font-size: 1.3rem;
    font-weight: bold;
    opacity: 1;
}
.navbar-nav .nav-link a {
    color: rgba(255,255,255,1) !important;
}
.navbar-nav .nav-link:hover {
    color: rgba(255,255,255,1) !important;
}
bg-dark {
    background-color: #5b0b22 !important;
}
.navbar-brand {
    font-weight: bold;
}
.scoreText  ul li {
    color: white;
    font-size: 1.3rem;
    padding: 10px;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
    list-style-type: none;
    display: inline-block;
}
.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.jumbotron-fluid {
    margin-top: 80px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.display-4 {
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 8px #000;
}
.lead {
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 8px #000;
}

.click-item {
    width: 160px;
    height: 160px;
    border: 5px solid #fff;
    box-shadow: 2px 2px 4px #ccc;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {

   .navbar-nav {
    background-color: #5b0b22 !important;
    float: left;
  }
  .navbar {
      flex-wrap: nowrap;
  }
 }